<div class="qw"></div>


<footer class="container navbar-fixed-bottom">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; Farm-Connect &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>
</body>
</html>
