<div class="qw"></div>


<footer class="container navbar-fixed-bottom">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; Farm-Connect &middot; Team : Devel-up (SHRIYANSH GAUR, SONALI TIWARI , CHAHAT BISWAS, ADYA JHA) &middot; </p>
  </footer>
</main>
</body>
</html>
