<%- include('partials/header') %>

<div class="d-flex gap-5 justify-content-center ck  grid-item1">
  <div class="list-group mx-0 ">
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked>
      <span>
        Potato
        <small class="d-block text-muted">20 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Brinjal
        <small class="d-block text-muted">60 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Cauliflower
        <small class="d-block text-muted">50 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Ladyfinger
        <small class="d-block text-muted">40 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Frenchbeans
        <small class="d-block text-muted">30 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Pumpkin
        <small class="d-block text-muted">70 Rs/kg</small>
      </span>
    </label>

  </div>

  <div class="list-group mx-0 ">
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Apple
        <small class="d-block text-muted">100 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Grapes
        <small class="d-block text-muted">80 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Banana
        <small class="d-block text-muted">60 Rs/dozen</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Mangoes
        <small class="d-block text-muted">80 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
      Pineapple
        <small class="d-block text-muted">150 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Watermelon
        <small class="d-block text-muted">40 Rs/kg</small>
      </span>
    </label>
  </div>
  <div class="list-group mx-0">

    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Arhar Dal
        <small class="d-block text-muted">70 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Urad Dal
        <small class="d-block text-muted">160 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Moong Dal
        <small class="d-block text-muted">110 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
        Rice
        <small class="d-block text-muted">55 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
      Ragi
        <small class="d-block text-muted">60 Rs/kg</small>
      </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="">
      <span>
    Bajra
        <small class="d-block text-muted">45 Rs/kg</small>
      </span>
    </label>
  </div>

</div>

  <hr>
