<%- include('partials/header') %>


<main>

  <section class="py-5 text-center container lp" style= "background-image: url(../images/farm.jpg); width: 100%;  height:100%; border: 1px solid black; background-repeat: no-repeat; background-size: cover;">
    <div class="row py-lg-5 qw"  >

      <div class="col-lg-6 col-md-8 mx-auto mlk qw">
        <h1 class="fw-dark qw mlk lko">WELCOME to Farm-Connect</h1>
        <p class=" fw-dark mlk" style="backdrop-filter: blur(2px);">An initiative to connect all Indian farmers directly to the market-place, so that
        You get Fresh Agro Products right at your doorsteps and they make REAL PROFIT.(NO MIDDLEMEN INVOLVED) .Online market for vegetables, fruits, cereals, puslse and much more.
        Just place your order  and pay on delivery. Payments directly transfered to Bank Accounts of REGISTERED FARMERS !
        Happy Buying!

        <p>
          <a href="/register" class="btn btn-primary my-2">Register as a Seller</a>
          <a href="/registers" class="btn btn-secondary my-2">Register as a Customer</a>
        </p>
      </div>
    </div>
  </section>

  <%- include('menu') %>
<%- include('partials/footer') %>
