
<div class="album py-5 bg-light">
  <div class="container">
  <h1>Vegetables</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <div class="col">
        <div class="card shadow-sm">
          <img src="images/brinjal.jpg" width="360px" height="300px"> </img>
          <div class="card-body">
            <p class="card-text">Brinjal   Price: Rs 60/kg </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="images/potato.jpg"> </img>
            <div class="card-body">
            <p class="card-text">Potato  Price: Rs 20/kg </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>

                </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="images/cauliflower.jpg"> </img>

          <div class="card-body">
            <p class="card-text">Cauliflower  Price: Rs 50/kg</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
            </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="images/ladyfinger.jpg"> </img>

          <div class="card-body">
            <p class="card-text">Lady Fingers  Price: Rs 40/kg  </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
            </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="images/frenchbeans.jpg"> </img>

          <div class="card-body">
              <p class="card-text">French Beans  Price: Rs 30/kg  </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
            </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="images/pumpkin.jpg"> </img>
          <div class="card-body">
              <p class="card-text">Pumpkin  Price: Rs 70/kg  </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
            </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="album py-5 bg-light">
      <div class="container">
      <h1>Fruits</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <div class="col">
            <div class="card shadow-sm">
              <img src="images/apple.jpg"> </img>
              <div class="card-body">
                  <p class="card-text">Apple  Price: Rs 100/kg  </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="images/grapes.jpg"> </img>

              <div class="card-body">
                  <p class="card-text">Grapes  Price: Rs 80/kg  </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="images/banana.jpg"> </img>

              <div class="card-body">
                  <p class="card-text">Banana  Price: Rs 60/dozen  </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="images/mango.jpg"> </img>

              <div class="card-body">
                  <p class="card-text">Mangoes  Price: Rs 80/kg  </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="images/pineapple.jpg"> </img>

              <div class="card-body">
                  <p class="card-text">Pineapple  Price: Rs 150/kg </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="images/watermelon.jpg"> </img>

              <div class="card-body">
                  <p class="card-text">Watermelon  Price: Rs 40/kg </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="album py-5 bg-light">
          <div class="container">
          <h1>Cereals & Pulses</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

              <div class="col">
                <div class="card shadow-sm">
                  <img src="images/arhar.jpg"> </img>
                  <div class="card-body">
                    <p class="card-text">Arhar Dal  Price: Rs 70/kg </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="images/urad.jpg"> </img>
                  <div class="card-body">
                      <p class="card-text">Urad Dal   Price: Rs 160/kg </p>
                      <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                    </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="images/moong.jpg"> </img>

                  <div class="card-body">
                      <p class="card-text">Moong Dal   Price: Rs 110/kg </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                    </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="images/rice.jpg"> </img>

                  <div class="card-body">
                      <p class="card-text">Rice   Price: Rs 55/kg </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                    </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="images/ragi.jpg"> </img>

                  <div class="card-body">
                      <p class="card-text">Ragi   Price: Rs 60/kg </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                    </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="images/bajra.jpg"> </img>

                  <div class="card-body">
                      <p class="card-text">Bajra  Price: Rs 45/kg </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

  <hr class="featurette-divider">
</div>
