<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3" style="padding-top: 2rem;">Fresh Agro Products Await You</h1>
    <h1>Add to shopping cart</h1>
    <hr>
<%- include('menu') %>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/cart" role="button">Go to cart</a>
  </div>
</div>

<%- include('partials/footer') %>
