<%- include('partials/header') %>

<div class="jumbotron text-center hj">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3 " style="font-size: 2rem;">Please Select types of the Agro Products you want to sell !<hr> (Payments  will be made directly to bank accounts based on demand and quantity of  Agro products SOLD! ) </h1>

    <hr>
<h1>ITEMS LIST HERE </h1>

<%- include('carts') %>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submits" role="button">Recieve orders for these products</a>
  </div>
</div>
<hr>
<%- include('partials/footer') %>
