<%- include('partials/header') %>

<div class="jumbotron text-center hj">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Please Select types of the Agro Products you want to sell ! (Quantity will be decided based on demand) </h1>

    <hr>
<h1>ITEMS LIST HERE </h1>

<%- include('cart') %>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submits" role="button">Submit</a>
  </div>
</div>
<hr>
<%- include('partials/footer') %>
