<%- include('partials/header') %>

<div class="container mt-5">
  <h1>THANK YOU FOR YOUR TRUST WE HOPE YOU WILL GET GOOD RETURNS AND MAKE HEFTY PROFITS !</h1>

<hr>
  </div>


<%- include('partials/footer') %>
